@model IEnumerable<MVCUYGPROJE.Areas.Admin.Models.BookVMs.AdminBookListVM>

@{
    ViewData["Title"] = "Book List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <h1>Book List</h1>
    <p>
        <a asp-action="Create" class="btn btn-primary btn-animate">Create New</a>
    </p>
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
               
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th>@Html.DisplayNameFor(model => model.IsAvailable)</th>
                <th>@Html.DisplayNameFor(model => model.DateOfPublish)</th> 
                <th>@Html.DisplayNameFor(model => model.AuthorName)</th>
                <th>@Html.DisplayNameFor(model => model.PublisherName)</th>
                <th>@Html.DisplayNameFor(model => model.CategoryName)</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                   
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>
                        @Html.CheckBoxFor(modelItem => item.IsAvailable, new { @class = "availability-Checkbox" })
                        @Html.Hidden("BookId", item.Id, new { @class = "book-id" })
                    </td>
                   @*  <td>
                        @Html.CheckBoxFor(modelItem => item.IsAvailable, new { @class= "availability-Checkbox",data_id=item.Id})
                    </td> *@
                    <td>@Html.DisplayFor(modelItem => item.DateOfPublish)</td>
                    
                    <td>@Html.DisplayFor(modelItem => item.AuthorName)</td>
                    <td>@Html.DisplayFor(modelItem => item.PublisherName)</td>
                    <td>@Html.DisplayFor(modelItem => item.CategoryName)</td>
                    <td>
                        <a asp-action="Update" asp-route-id="@item.Id" class="btn btn-sm btn-warning btn-animate">Update</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger btn-animate">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>